* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    overflow: hidden;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 150px;
    width: 90%;
    max-width: 1500px;
    max-height: 900px;
    padding: 20px;
}

.widget-title {
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-panel, .center-panel, .right-panel {
    overflow-y: auto;
    width: auto; 
    height: auto; 
    max-height: 80vh;
    overflow: hidden;
}


.left-panel { /*Gauche*/
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 10px;
    mask-image: linear-gradient(to bottom, black 90%, transparent 99%);

}

.weatherwidget {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border-radius: 100px;
    color: black;
    width: auto;
    height: 110px;
    min-height: 100px;
    min-width: 250px;
    outline: 2px solid rgb(255, 255, 255, 0.5);
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 1);
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-size: 120% !important;
}

.weatherwidget.dragging {
    opacity: 0.001;
    border: 7px solid rgba(0, 0, 0, 0.9);
    border-radius: 100px;
    cursor: grabbing;
}

.weatherwidget.selected {
    outline: 7px solid rgb(255, 255, 255, 0.5);
}

.weatherwidget.sunny {
    background-image: linear-gradient(to right bottom, #52ebff, #00d8ff, #00c4ff, #00aeff, #0096ff, #0e90ff, #1e8aff, #2c84ff, #4492ff, #59a0ff, #6fadff, #84baff);
}

.weatherwidget.cloudy {
    background: linear-gradient(45deg, rgba(68,68,68,1) 0%, rgba(102,161,190,1) 41%, rgba(143,163,187,1) 69%, rgba(128,130,136,1) 100%);
}

.weatherwidget.rainy {
    background: linear-gradient(180deg, rgba(68,68,68,1) 0%, rgba(116,124,147,1) 47%, rgba(143,163,187,1) 69%, rgba(102,161,190,1) 87%);
}

.weatherwidget.windy {
    background: rgb(255,187,0);
    background: linear-gradient(45deg, rgba(255,187,0,1) 0%, rgba(113,196,255,1) 14%, rgba(78,78,245,1) 41%, rgba(82,86,133,1) 69%, rgba(128,130,136,1) 100%);
}

.icon {
    min-width: 60px;
    height: 60px;
    margin-right: 15px;
}

.info {
    font-family: "Ubuntu Sans", sans-serif;
    flex-grow: 1;
}

.info #time {
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 14px;
    color: #3f3f3f59;
}

.temperature {
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffffb4;
}

.center-panel { /*Centre*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.brief-container {
    font-family: "Ubuntu Sans", sans-serif;
    border: 2px solid rgb(255, 255, 255, 0.5);
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.9);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 28px;
    margin-top: auto;
    backdrop-filter: blur(10px);
}


.city-title {
    font-family: "Ultra", serif;
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 10px;
}

.main-temp {
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 4em;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
}

.feels-like, .wind-info {
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 0.9em;
    color: #eee;
    margin-bottom: 5px;
}

.main-icon img {
    width: 250px;
    height: 250px;
    margin: 10px 0;
}

.right-panel { /*Droite*/
    font-family: "Ubuntu Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    mask-image: linear-gradient(to bottom, black 90%, transparent 99%);
}

.forecast-container {
    border: 2px solid rgb(255, 255, 255, 0.5);
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 28px;
    margin-top: 10px;
    backdrop-filter: blur(10px);
}


.forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hourly {
    padding : 10px;
    text-align: center;
    font-size: small;
}


.hourly img {
    width: 40px;
}

.finisher-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    z-index: -1;
}

.finisher-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/icons/svg/grainy_effect.svg");
    background-size: 150%;
    opacity: 1;
    z-index: 0;
    pointer-events: none;
}
.ubuntu-sans-titres {
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.ultra-regular {
    font-family: "Ultra", serif;
    font-weight: "350";
    font-style: normal;
}