* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    overflow: hidden;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 20px;
}

.left-panel, .center-panel, .right-panel {
    overflow-y: auto;
    width: auto; 
    height: auto; 
    max-height: 80vh;
}


.left-panel {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.weatherwidget {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
    color: black;
    width: 300px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.9);
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-size: 110% !important;
}

.weatherwidget.sunny {
    background: url('../img/background/background_sunny.png') center/cover;
}

.weatherwidget.cloudy {
    background: url('../img/background/background_cloudy.png') center/cover;
}

.icon {
    min-width: 50px;
    height: 50px;
    margin-right: 15px;
}

.info {
    flex-grow: 1;
}

.info #time {
    font-size: 14px;
    color: #3f3f3f59;
}

.temperature {
    font-size: 24px;
    font-weight: bold;
    color: #ffffffb4;
}

.center-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.city-title {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 10px;
}

.main-temp {
    font-size: 2em;
    color: #fff;
    margin-bottom: 5px;
}

.feels-like, .wind-info {
    font-size: 0.9em;
    color: #eee;
    margin-bottom: 5px;
}

.main-icon img {
    width: 80px;
    height: 80px;
    margin: 10px 0;
}

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forecast-container {
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
    backdrop-filter: blur(10px);
}

.forecast-header {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hourly {
    text-align: center;
    font-size: small;
}


.hourly img {
    width: 40px;
}

.finisher-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    z-index: -1;
}

.finisher-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/icons/svg/grainy_effect.svg");
    background-size: 150%;
    opacity: 1;
    z-index: 0;
    pointer-events: none;
}
