* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

@keyframes moveBackground {
    0% { background-size: 110%; }
    50% { background-size: 115%; }
    100% { background-size: 110%; }
}

.finisher-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    z-index: -1;
}

.finisher-header::after {
    content: "";
    position: absolute; 
    top: 0;           
    left: 0;          
    width: 100%;      
    height: 100%;     
    background-image: url("../img/icons/svg/grainy_effect.svg");
    background-size: 120%;
    opacity: 1; 
    animation: moveBackground 30s linear infinite;
    z-index: 0; 
    pointer-events: none; 
}

.weatherwidget {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
    font-family: Arial, sans-serif;
    color: black;
    width: 300px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.9);
    background-size: 110% !important;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.icon {
    min-width: 50px;
    height: 50px;
    margin-right: 15px;
}
.info {
    flex-grow: 1;
}

.info #time{
    font-size: 14px;
    color: #3f3f3f59;
}

.temperature {
    font-size: 24px;
    font-weight: bold;
    color: #ffffffb4;
}

.weatherwidget.sunny {
    background: url('../img/background/background_sunny.png') center/cover;
}

.weatherwidget.cloudy {
    background: url('../img/background/background_cloudy.png') center/cover;
}

